body {
  background-color: bisque;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}

.links {
  display: flex;
}

.link {
  padding: 20px 20px;
  margin-left: 20px;
}

.link a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 100px;
  gap: 2px;
}

.card {
  background-color: #fff;
  margin: 20px;
  width: 80%;
  height: 40%;
}

.meal-description {
  display: flex;
  justify-content: space-between;
}

.likes {
  display: flex;
  flex-direction: column;
}

.fas {
  padding-top: 23px;
}

button {
  margin: 20px 0;
  padding: 10px;
  box-shadow: 0 6px 10px 0 black;
  width: 100%;
}

footer {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2.5rem;
  border-top: 2px solid black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 100%;
  object-fit: cover;
}

.comment {
  width: 100%;
}

#comment {
    width: 200px;
    height: 200px;
}
