body {
  background-color: bisque;
  font-family: 'poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}

.links {
  display: flex;
}

.link {
  padding: 20px 20px;
  margin-left: 20px;
  font-size: 44px;
  font-weight: bold;
  font-family: 'lato', sans-serif;
}

.link a {
  text-decoration: none;
  color: rgb(90, 130, 143);
  font-size: 26px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 100px;
  gap: 2px;
}

.card {
  background-color: #fff;
  margin: 20px;
  width: 80%;
  height: 40%;
}

.meal-description {
  display: flex;
  justify-content: space-between;
}

.likes {
  display: flex;
  flex-direction: column;
}

.fas {
  padding-top: 23px;
}

button {
  margin: 20px 0;
  padding: 10px;
  box-shadow: 0 6px 10px 0 black;
  width: 100%;
}

footer {
  /* position: absolute; */
  bottom: -1px;
  width: 100%;
  height: 2.5rem;
  border-top: 2px solid black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 100%;
  object-fit: cover;
}

.comment {
  width: 100%;
}

#comment {
  width: 200px;
  height: 200px;
  background-color: #fcf7f7;
}

.modal {
  display: none;
  width: 600px;
  height: 900px;
  background-color: #e9dbdb;
  margin-left: 22rem;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modalimg {
  width: 460px;
  margin-top: 4rem;
}

.comment-btn {
  width: 90px;
  justify-content: center;
}
